{% extends 'base/form_base.html' %}

{%block title%}
<title>Atualizar Dados.. | {{user.first_name}} {{user.last_name}}</title>
{%endblock%}

{% block titulo %}
<h3 class="mb-5">Atualizar Dados...</h3>
{%endblock%}


{% block formulario %}
  {% for field in perfilform.visible_fields%}
    {% include 'parciais/_formulario_padrao.html'%}
  {%endfor%}
{%endblock%}



{%block botton %}
  <button class="btn btn-primary btn-lg btn-block" type="submit">Atualizar</button>
  <a href="{% url 'usuario:atualizar_senha' %}" class="btn btn-primary btn-lg btn-block"> Alterar Senha</a>

{% endblock%}