{% extends 'base/base.html' %}
{% block head %}{%endblock%}

{%block conteudo%}

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Atualizar Dados</h3>

              <form method="POST" action="{% url 'usuario:atualizardados_gr' %}">
                {% csrf_token %}
              {% for field in perfilform.visible_fields%}
              <div class="form-outline mb-1">
                <div class="form-outline mb-4">
                
                <label  for="{{field.id_for_label}}">{{field.label}}</label>
                {{ field }}
                
                {% for error in field.errors %}
                
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {%endfor%}



              </div>
              </div>
              {%endfor%}

              {% for field in userform.visible_fields %}
              <div class="form-outline mb-1">
                <div class="form-outline mb-4">
                
                <label  for="{{field.id_for_label}}">{{field.label}}</label>
                {{ field }}
                
                {% for error in field.errors %}
                
                <div class="alert alert-danger">
                    {{error}}
                </div>
              {%endfor%}
              
            </div>
          </div>
              {%endfor%}

              <button class="btn btn-primary btn-lg btn-block" type="submit">Atualizar</button>
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock%}