{% extends 'base/base.html' %}
{% block head %}{%endblock%}

{%block conteudo%}

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              {% block titulo %}
              <h3 class="mb-5">Atualizar Dados</h3>
              {%endblock%}

              <form method="POST" action="">
                {% csrf_token %}
              
              {%block formulario%}
              {% for field in perfilform.visible_fields%}
                {% include 'parciais/_formulario_padrao.html'%}
              {%endfor%}
              {%endblock%}
              <button class="btn btn-primary btn-lg btn-block" type="submit">Atualizar</button>
              {% if perfilform%}
              <a href="{% url 'usuario:atualizar_senha' %}" class="btn btn-primary btn-lg btn-block"> Alterar Senha</a>
              {% endif %}
            </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock%}