{% extends 'base/form_base.html' %}

{% block titulo %}
  <h3 class="mb-5">Criar conta</h3>
  
{%endblock%}

{% block formulario %}

  {% for field in perfilform.visible_fields%}
  {% include 'parciais/_formulario_padrao.html'%}
  {% endfor %}
  {% for field in senhaforms.visible_fields%}
  {% include 'parciais/_formulario_padrao.html'%}
  {% endfor %}

{% endblock %}

{%block botton %}
<button class="btn btn-primary btn-lg btn-block" type="submit">Criar</button>

<div>
  <p class="mb-5 pb-lg-2" style="color: #393f81;">Ja possui cadastro? <a href="{% url 'usuario:login' %}"
      style="color: #393f81;">ENTRAR</a></p>
  <hr class="my-4">
</div>
{% endblock%}




