{% extends 'base/base.html' %}

{% block head %}{%endblock%}

{%block conteudo%}

<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              
              {%block formulario %}
              <h4 class="mb-5">ESQUECEU SUA SENHA DE ACESSO?</h4> 
              {% include 'parciais/_messages.html' %}

              <form method="POST" action="{% url 'usuario:password_reset_done'%}">
              {% csrf_token %}
                {{form}}
                <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" name='email' class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX-2">Informe seu email de cadastro:</label>
              </div>

            <p>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
            </p>

        </form>

              <div>
              <p class="mb-5 pb-lg-2" style="color: #393f81;">Nao tem conta? <a href="{% url 'usuario:cadastro' %}"
                  style="color: #393f81;">Cadastre-se</a></p>
              <hr class="my-4">
              </div>
            {%endblock%}
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </section>
  {% endblock%}