{% extends 'base/form_base.html' %}
{%block title%}
<title>Recuperar Senha</title>
{%endblock%}


{% block titulo %}
  <h3 class="mb-5">ESQUECEU SUA SENHA DE ACESSO?</h3>
  <p>Informe seu e-mail de cadastro:</p>
{%endblock%}

{% block formulario %}

  {% for field in form.visible_fields%}
  {% include 'parciais/_formulario_padrao.html'%}
  {% endfor %}

{% endblock %}

{%block botton %}
<button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
{% endblock%}

{% block footer %}
<footer class="footer   fixed-bottom mt-5">
{%endblock%}