{% extends 'base/form_base.html' %}




{%block titulo %}

  {% if validlink %}
    <h3 class="mb-5">Confirmar redefinição de senha??</h3>
    <p>Insira sua nova senha</p>
  {%else%}
    <a href="{% url 'usuario:reset_password' %}" class="btn ">
      <h3 class="mb-5">Link expirado favor solicite novamente</h3>
      <p>Clicando aqui</p>
    </a>
  {% endif %}
{%endblock%}

{% block formulario %}

  {% for field in form.visible_fields%}
  {% include 'parciais/_formulario_padrao.html'%}
  {% endfor %}

{% endblock %}

{%block botton %}
  {% if validlink %}
    <button class="btn btn-primary btn-lg btn-block" type="submit">Confirmar</button>
  {% endif %}
{% endblock%}


{% block footer %}
<footer class="footer   fixed-bottom mt-5">
{%endblock%}


