<div class="container px-4 px-lg-5 mt-5">
    <div class=" text-center">
    <form method="GET" action="{% url 'produto:buscar' %}">
        <input name='buscar' class="btn btn-outline-dark" value="{{request.GET.buscar}}" type="search"  placeholder="Pesquisar" autocomplete="off">
        <button  class="btn btn-dark" type="submit">Buscar</button>
    
    {% if request.GET.buscar %}
    <a href="{% url 'produto:produtos' %}" class="btn btn-dark" >Limpar</a>
    {% endif %} 
    
</form>
</div>
</div>