{% load static %}
{% load ultilsfilter%}

<div class="row">
    <div class="col">
        <h3>{{ produto }}</h3>

        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
            <div class="col-lg-4"><b>"{{ produto.id }}"</b></div>
            <div class="col-lg-2 font-weight-bold">Total a pagar:</div>
            <div class="col-lg-4"><strong>{{ produto.qtd_valor_total|valores}}</strong></div>

            <div class="col-lg-2 font-weight-bold">QTD. Itens:</div>
            <div class="col-lg-4">{{ produto.total }}</div>
            <div class="col-lg-2 font-weight-bold">Status:</div>
            <div class="col-lg-4">{{ produto.get_status_display }}</div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Produtos</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Imagem</th>
                    <th>Produto</th>
                    <th>Valor Unitario.</th>
                    <th>QTD.</th>
                    <th>Total</th>
                </tr>
                
                {% for linha in produto.itempedido_set.all %}

                <tr>
                <td class="d-none d-lg-block">
                <a href="{% url 'produto:detalhe' linha.slug %}">
                {% if not linha.imagem == '' %}
                <div class="card-img" style="width: 10rem;">
                    
                    <img class="card-img" src="{% get_media_prefix %}{{ linha.imagem }}">
                {% else %}
                    <img class="card-img" src="{% static 'imgs/imagem_indisponivel.jpg' %}" >
                {% endif %}    
                </a>      
            </td>
                    <td><a href="{% url 'produto:detalhe' linha.slug %}">{{ linha.produto}}</a></td>
                    <td>{{ linha.preco|valores}}</td>
                    <td>{{ linha.quantidade}}x </td>
                    {% if linha.preco_promo %}
                        <td><b>{{ linha.preco_promo|valores}}</b></td>
                    {% else %}
                        <td><b>{{ linha.preco|valores}}</b></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="row mt-4">
            <div class="col text-center">
                <a href="{% url 'pedido:lista' %}" class="btn btn-primary btn-block btn-lg">Voltar</a>
            </div>
        </div>