{% extends 'base/base.html' %}
{% load static %}
{% load ultilsfilter %}


{%block title%}
<title>Carrinho</title>
{%endblock%}

{% block head%}
{% endblock %}


{% block conteudo %}

{% if carrinho %}
<main class="container mt-4 mb-4">

    <div class="row mt-3">
        <div class="col">
            <h3>Carrinho de compras</h3>
            <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
        
            {% include 'parciais/_messages.html' %}
                    {% include 'parciais/_carrinho.html' %}
        </div>
    </div>
    {% if request.user.is_authenticated or frete_entrega %}
    <div class="row mt-3">
        <div class="col-lg">
            <h2 ><b>FRETE</b></h2>
            <div class='table-responsive'>
                <table class="table">
                    <tr>
                        <td>
                            <class='lead'>
                                SEDEX:
                            {% if endereco %}
                            <p>{{endereco.rua_avenida}} - {{endereco.bairro}} -  
                                {{endereco.localidade}} - {{endereco.uf}} 
                            </p>
                            {% endif %}
                            </td>
                                <td class="col-md-4">
                                    {% if preco is True %}
                                    <h3 style="color: brown;"><b>FRETE GRATIS</b></h3>
                                    {%else%}
                                    <h3><b>{{preco}}</b></h3>
                                    {% endif %}
                                    {{frete_entrega}}
                            </td>
                    </tr>
                </table>
        </div>
        </div>
    </div>
        {% else %}
        <h2 ><b>FRETE</b></h2>
        <form method="post" action="{% url 'cars:carrinho' %}"> {% csrf_token %}
            <input type="text" placeholder="MEU CEP" name="CEP">
            <button type="submit">OK</button>
        </form>
        {% endif%}
        <div class="row mt-3">
            <div class="col-lg">
                <h2><b>RESULMO</b></h2>
                <div class='table-responsive'>
                    <table class="table">
                        <tr>
                            <td>
                                <class='lead'>
                                    Valor:</td>
                                    <td class="col-md-4">
                                    <h3><b>{{carrinho|total_valores|valores}}</b></h3>
                                </td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
    {% if preco and carrinho %}
            <div class="row mt-3">
                <div class="col-lg ">
                    <h2 ><b>VALOR TOTAL</b></h2>
                    <div class='table-responsive'>
                        <table class="table">
                            <tr>
                                <td>
                                    <class='lead'>
                                        Valor total + frete:</td>
                                        <td class="col-md-4">
                                            {% if preco %}
                                            <h3><b>{{carrinho|total_frete:preco}}</b></h3>
                                            {% endif %}
                                    </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    {% endif %}
        
    <div class="col-lg mt-auto text-center">
        
    <a class="btn btn-lg btn-block btn-primary" 
        {% if request.user.is_authenticated %}
            href="{% url 'enderecos:endereco'%}">
                {%else%}
                href="{% url 'usuario:login'%}">
                {%endif%}

                    IR PARA O PAGAMENTO 
                </a>

                <a class="btn btn-lg btn-block btn-primary" href="{% url 'produto:produtos' %}">
                    CONTINUAR COMPRANDO
                    </a>
            </div>
        </div>
    </main>
<br><br><br>
{%else%}
<section class="py-5" >
    <div class="d-flex justify-content-center">
    <div>
        <h1>Carrinho Vazio</h1>
    </div>
    </div>
<div class="container px-4 px-lg-5 mt-3">
    {% include 'parciais/_messages.html' %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <a href="{% url 'produto:produtos' %}">        
        <button class="btn btn-outline-danger" >
                <h1><i  class="bi-cart-fill me-1"></i></h1>
                <h1>Continuar Comprando</h1>
                <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
            </button>

        </a>
        </div>
    </div>
    </section>
{%block footer %}
<footer class="footer bg-dark py-1 fixed-bottom mt-5">
{%endblock%}


    {%endif%}
{%endblock%}