{% extends 'base/base.html' %}
{% load static %}

{%block title%}
<title>Login</title>
{%endblock%}

{% block head %}{%endblock%}

{%block conteudo%}
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Login</h3>
              {% include 'parciais/_messages.html' %}
            {% comment %} #TODO arruma os padrao formulario {% endcomment %}
              <form method="POST" action="{% url 'usuario:login' %}">
              {% csrf_token %}

                <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" name='email' class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" name='password' id="typePasswordX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Senha</label>
              </div>
  

              <button class="btn btn-primary btn-lg btn-block" type="submit">Entrar</button>
            </form>

              <div>
              <a class="small text-muted" href="{% url 'usuario:reset_password' %}">Esqueceu a senha?</a>
              <p class="mb-5 pb-lg-2" style="color: #393f81;">Nao tem conta? <a href="{% url 'usuario:cadastro' %}"
                  style="color: #393f81;">Cadastre-se</a></p>
              <hr class="my-4">
              </div>

            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </section>
  {% endblock%}